# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Supabase
/supabase/.branches
/supabase/.temp

.claude/